.App {
  margin: 0 auto;
  max-width: 1920px;
}

.header {
  border-bottom: 1px solid rgba(229, 234, 244, 1);
  display: flex;
  align-items: center;
}

/* Search Section */

.search_form {
  width: 505px;
  height: 56px;
  border: 1px solid #a9b1bd;
  border-radius: 10px;
  color: #a9b1bd;
  display: flex;
  align-items: center;
}

.search_select {
  width: 130px;
  border-right: 1px solid #a9b1bd;
  height: 100%;
  font-family: "Poppins";
  color: #a9b1bd;
  font-size: 16px;
  padding-left: 16px;
}

.search_label {
  width: 130px;
  border-right: 1px solid #a9b1bd;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
}

.search_button {
  width: 24px;
  height: 24px;
  font-size: 24px;
  color:rgba(17, 176, 200, 1);
  background: transparent;
}

.search_input{
  padding-left: 15px;
  font-family: "Poppins";
  color: #a9b1bd;
  width: 200px;
  font-size: 16px;
}


/* Card Section */

.card {
  display: flex;
  align-items: center;
  font-family: "Poppins";
  color: #a9b1bd;
  font-size: 16px;
  border-bottom: 1px solid #E5EAF4;
}

.card-image {
  margin: 8px 124px 8px 25px;
}

.card-id {
  width: 222px;
}

.card-name {
  width: 202px;

}

.card-gender {
  width: 212px;
  display: flex;
  align-items: center;

}

.card-species {
  width: 212px;
}

.card-episode {
  width: 226px;
}


.card-button {
  width: 43px;
  height: 43px;
  border: 2px solid #11B0C8;
  background:#fff;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-icon {
  color: #11B0C8;
  font-size: 24px;
}